.mouse-parallax {
    height: 500px;
    position: relative;
    overflow: hidden;
}
.mouse-parallax-bg {
    position: absolute;
    background-image: url("photo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    transition: all 0.1s ease;  
}